In [1]:
#LESSON.01
print(3+4)
print("3"+"4")

7
34

In [6]:
i="Hello"
y="python"
z="world"
print(i+y+z)
print(i, y, z)
print(i, y, z, sep="/")

Hellopythonworld
Hello python world
Hello/python/world

In [7]:
i="石井"
y=3
print(i*y)

石井石井石井

In [12]:
#LESSON.02
#10進数をN進数に変わる。
#2進数
print(bin(10))

#8進数
print(oct(10))

#16進数
print(hex(10))

0b1010
0o12
0xa

In [13]:
#N進数を10進数に変わる。
#2進数
print(0b10)

#8進数
print(0o10)

#16進数
print(0x10)

2
8
16

In [14]:
#エスケープシーケンス 教科書22p
#\n -> 改行
print("Hello\npython\nworld")

Hello
python
world

In [15]:
print(1)
print(3.14)

1
3.14

In [16]:
print("123\n\\ 100 もらった\nまた明日")

123
\ 100 もらった
また明日

In [17]:
print("1\t2\t3\t4\t5\t6")

1	2	3	4	5	6

In [18]:
#lesson.03
#データ型
#str型
s3 = ""
#int型
i3 = 0
#float型
f3 = 0.0

In [23]:
#演算子
num3_1 = 5
num3_2 = 2
print(num3_1 + num3_2)
print(num3_1 - num3_2)
print(num3_1 * num3_2)
print(num3_1 / num3_2)
print(int(num3_1 / num3_2))
print(num3_1 % num3_2)#余り
num3_3 = num3_1 + num3_2
print(num3_3)

7
3
10
2.5
2
1
7

In [26]:
#教科書45p
isiiage3 = 21
print("2020年は",isiiage3,"歳")
isiiage3 += 1
print("2021年は",isiiage3,"歳")
isiiage3 += 1
print("2022年は",isiiage3,"歳")
isiiage3 += 1
print("2023年は",isiiage3,"歳")
isiiage3 += 1
print("2024年は",isiiage3,"歳")

2020年は 21 歳
2021年は 22 歳
2022年は 23 歳
2023年は 24 歳
2024年は 25 歳

In [27]:
#49p
print(2+3*4)

14

In [28]:
print((2+3)*4)

20

In [29]:
#52p
ip = input("入力してください：")
print(ip)

入力してください：10
10

In [30]:
ip1 = int(input())
ip2 = input()
print(ip1+int(ip2))

5
6
11

In [32]:
iz3 = input()
iz4 = int(iz3)
print(iz3*5)
print(iz4*5)

3
33333
15

In [41]:
num6 = -1000
if(num6 > 10 or num6 < 1):
    print("いけない")
else:
    print("いける")

いけない

In [17]:
intNum = int(input())
if(intNum >= 30 and intNum <= 50 ):
    print("★")
elif(intNum < 30):
    print("●")
else:
    print("#")

1000
#

In [22]:
#for(int i = 0; i < 5; i++)

In [54]:
for i in range(1,10):
    for y in range(1,10):
        print(i,"x",y,"=",i*y, sep="",end="\t")
    print("")

1x1=1	1x2=2	1x3=3	1x4=4	1x5=5	1x6=6	1x7=7	1x8=8	1x9=9
2x1=2	2x2=4	2x3=6	2x4=8	2x5=10	2x6=12	2x7=14	2x8=16	2x9=18
3x1=3	3x2=6	3x3=9	3x4=12	3x5=15	3x6=18	3x7=21	3x8=24	3x9=27
4x1=4	4x2=8	4x3=12	4x4=16	4x5=20	4x6=24	4x7=28	4x8=32	4x9=36
5x1=5	5x2=10	5x3=15	5x4=20	5x5=25	5x6=30	5x7=35	5x8=40	5x9=45
6x1=6	6x2=12	6x3=18	6x4=24	6x5=30	6x6=36	6x7=42	6x8=48	6x9=54
7x1=7	7x2=14	7x3=21	7x4=28	7x5=35	7x6=42	7x7=49	7x8=56	7x9=63
8x1=8	8x2=16	8x3=24	8x4=32	8x5=40	8x6=48	8x7=56	8x8=64	8x9=72
9x1=9	9x2=18	9x3=27	9x4=36	9x5=45	9x6=54	9x7=63	9x8=72	9x9=81

In [65]:
for i in range(1,11):
    if(i%2==0):
        print("偶数：",i)
    else:
        print("奇数：",i)

奇数： 1
偶数： 2
奇数： 3
偶数： 4
奇数： 5
偶数： 6
奇数： 7
偶数： 8
奇数： 9
偶数： 10

In [77]:
for i in range(4):
    for j in range(5):
        if(i+j < 4):
            print("●",end='')
        else:
            print("〇",end='')
    print()

●●●●〇
●●●〇〇
●●〇〇〇
●〇〇〇〇

In [78]:
for i in range(4):
    for j in range(5):
        print(i+j,end="")
    print()

01234
12345
23456
34567

In [85]:
myCar = ["86","GT-R","rx-7","ランエボ3"]
print(myCar)

['86', 'GT-R', 'rx-7', 'ランエボ3']

In [86]:
for i in range(4):
    print(myCar[i],end=" ")

86 GT-R rx-7 ランエボ3

In [87]:
for i in range(len(myCar)):
    print(myCar[i],end=" ")

86 GT-R rx-7 ランエボ3

In [88]:
print(len(myCar))

4

In [92]:
for i in myCar:
    print(i,end=" ")

86 GT-R rx-7 ランエボ3

5

In [96]:
myNum1 = [1,2,3,4,5]
myNum2 = [6,5,7,8,9]
print(myNum1+myNum2)
print(myNum2+myNum1)

[1, 2, 3, 4, 5, 6, 5, 7, 8, 9]
[6, 5, 7, 8, 9, 1, 2, 3, 4, 5]

In [111]:
myNum1[:]

[1, 2, 3, 4, 5]

In [112]:
myNum1[::]

[1, 2, 3, 4, 5]

In [117]:
myNum1[::-1]

[5, 4, 3, 2, 1]

In [121]:
myNum3 = [0,1,2,3,4,5,6,7,8,9]
myNum3[6:2:-1]

[6, 5, 4, 3]