# 問題１（未知の問題に対してどう取り組むのかテスト）
2進数、8進数、16進数の101を10進数で出力するコードを完成させなさい  
コードは完成後実行して結果を出力すること

In [3]:
## 上に示した出力を行うコードを記述する
print("2進数の101は", 0b101, "です。")
print("8進数の101は", 0o101, "です。")
print("16進数の101は", 0x101, "です。")

2進数の101は 5 です。
8進数の101は 65 です。
16進数の101は 257 です。

# 問題２（未知の問題に対してどう取り組むのかテスト）
以下に示す出力を行うコードを記述しなさい  
コードは完成後実行して結果を出力すること  
  
▲○▲○▲  
○▲○▲○  
▲○▲○▲  
○▲○▲○  
▲○▲○▲

In [8]:
## 上に示した出力を行うコードを記述する
for i in range(5):
    for j in range(5):
        if((i+j)%2==0):
            print("▲",end="")
        else:
            print("○",end="")
    print()

▲○▲○▲
○▲○▲○
▲○▲○▲
○▲○▲○
▲○▲○▲

# 問題３（未知の問題に対してどう取り組むのかテスト）
以下の入出力を行う関数func(price)を作成し、下のコードを完成させなさい  
コードは完成後実行して結果を出力すること

* 関数：**func(price)**
    * 入力(引数)
        * price:金額（単位：円、整数）  
    * 出力（戻り値）
        * 税込金額（単位：円、整数、税率は10%）  
        （ただし、小数点以下の金額は切り捨てとする）


* プログラム実行時の出力
```
税込金額は 165 円です
```

In [11]:
## 上に示した出力を行うコードを記述する
def func(price):
    print("税込金額は",int(price*1.1) ,"円です")

p=150
func(p)

税込金額は 165 円です

# 問題４（平成６年度　AIプログラミングⅠ　評価試験（^ω^））
２０を３で割って得られる商を余りでべき乗すると、値はいくつになりますか？組み込み関数を用いて一行で書くこと。

In [13]:
## 上に示した出力を行うコードを記述する
pow(*divmod(20,3))

36

# 問題５（平成６年度　AIプログラミングⅠ　評価試験（^ω^））
## 問題文
整数を格納したリストのすべての要素を、文字列に変換するコードを書いてください。sample_list = [2,3,4]などとして、適当なデータを用意してください。

## 出力例
['2', '3', '4']

In [14]:
## 上に示した出力を行うコードを記述する
numList = [2,3,4]
list(map(str, numList))

['2', '3', '4']

# 問題６（平成６年度　AIプログラミングⅠ　評価試験（^ω^））
## 問題文
任意の数の単語と、区切り文字separatorを受け取り、区切り文字でつなげる関数concat_wordsを作成してください。  
関数を用いて下記内容の一例を確認しなさい。
## 入力と出力の一例
～入力～  
引数：'a','b','c'  
区切り文字:'_'  
～出力～  
出力:'a_b_c'  
～入力～  
引数：hoge', 'fuga', 'piyo'  
区切り文字:'(^ω^)'  
～出力～  
出力:'hoge(^ω^)fuga(^ω^)piyo'

In [18]:
## 上に示した出力を行うコードを記述する
def concat_words(*args, spearator='.'):
    return spearator.join(args)

In [19]:
concat_words('a','b','c', spearator='_')

'a_b_c'

In [20]:
concat_words('hoge', 'fuga', 'piyo', spearator='(^ω^)')

'hoge(^ω^)fuga(^ω^)piyo'

# 問題７（エクストラほげ問題）
### 問題文
  
①$\pi<\theta<\frac{3}{2}\pi$とする。$cos\theta = -\frac{3}{4}$のとき、$sin\theta$と$tan\theta$の値を求めよ
  
②$0<\theta<\pi$とする。$tan\theta = -3$のとき、$sin\theta$と$cos\theta$の値を求めよ

In [7]:
## 上記の問題の答えを入力
## ①
## sinΘ = - √7/4
## tanΘ = √7/3
## ②
## sinΘ = 3√10/10
## cosΘ = -√10/10

# 問題８（エクストラがんばれ問題）
以下の文字列をint型のリストとして出力してください  
str = "1 2 3 4 5"

In [23]:
## 上に示した出力を行うコードを記述する
str = "1 2 3 4 5"
str = str.split()
str = list(map(int, str))
str

[1, 2, 3, 4, 5]

# 問題９（ほげ要望）
１データベースを作成して、すべての行を表示してください。 

|name（商品名）|num（在庫）|
| ---- | ---- |
|みかん|80|
|いちご|60|
|りんご|22|
|もも|50|
|くり|75|
  
出力例  
（みかん、80）  
（いちご、60）  
（りんご、22）  
（もも、50）  
（くり、75）

In [21]:
## 上に示した出力を行うコードを記述する
import sqlite3

conn = sqlite3.connect("pdb.db")

c = conn.cursor()

c.execute("DROP TABLE IF EXISTS product")

c.execute("CREATE TABLE product(name CHAR(20), num INT)")
c.execute("INSERT INTO product VALUES('みかん', 80)")
c.execute("INSERT INTO product VALUES('いちご', 60)")
c.execute("INSERT INTO product VALUES('りんご', 22)")
c.execute("INSERT INTO product VALUES('もも', 50)")
c.execute("INSERT INTO product VALUES('くり', 75)")

conn.commit()

itr = c.execute("SELECT * FROM product")

for row in itr:
    print(row)

conn.close()

('みかん', 80)
('いちご', 60)
('りんご', 22)
('もも', 50)
('くり', 75)

# 問題１０（ほげ要望）
２上記のデータベースで、在庫が３０以下の行を表示してください。   
出力例  
（りんご、22）

In [22]:
## 上に示した出力を行うコードを記述する
import sqlite3

conn = sqlite3.connect("pdb.db")

c = conn.cursor()

c.execute("DROP TABLE IF EXISTS product")

c.execute("CREATE TABLE product(name CHAR(20), num INT)")
c.execute("INSERT INTO product VALUES('みかん', 80)")
c.execute("INSERT INTO product VALUES('いちご', 60)")
c.execute("INSERT INTO product VALUES('りんご', 22)")
c.execute("INSERT INTO product VALUES('もも', 50)")
c.execute("INSERT INTO product VALUES('くり', 75)")

conn.commit()

itr = c.execute("SELECT * FROM product WHERE num <= 30")

for row in itr:
    print(row)

conn.close()

('りんご', 22)

# 今回はエクストラぽむぽむ問題は登場しませんでした。三上さんごめん
# 皆さんお疲れさまでした。